/trigger_nativa
.env
java/recalcpreco.java
libs_sankhya/aopalliance-1.0.jar
libs_sankhya/barbecue-1.0.jar
libs_sankhya/bcmail-jdk14-1.38.jar
libs_sankhya/bcprov-jdk14-1.38.jar
libs_sankhya/bctsp-jdk14-1.38.jar
libs_sankhya/classmate-1.0.0.jar
libs_sankhya/commonj.sdo-2.1.1.jar
libs_sankhya/commons-beanutils.jar
libs_sankhya/commons-codec-1.3.jar
libs_sankhya/commons-codec-1.10-javadoc.jar
libs_sankhya/commons-codec-1.10-sources.jar
libs_sankhya/commons-codec-1.10-test-sources.jar
libs_sankhya/commons-codec-1.10-tests.jar
libs_sankhya/commons-codec-1.10.jar
libs_sankhya/commons-collections-3.2.1.jar
libs_sankhya/commons-digester-1.7.jar
libs_sankhya/commons-fileupload-1.2.2.jar
libs_sankhya/commons-fileupload-1.3.jar
libs_sankhya/commons-io-2.1.jar
libs_sankhya/commons-lang3-3.9-sources.jar
libs_sankhya/commons-lang3-3.9-test-sources.jar
libs_sankhya/commons-lang3-3.9-tests.jar
libs_sankhya/commons-lang3-3.9.jar
libs_sankhya/commons-logging-1.1.jar
libs_sankhya/commons-logging.jar
libs_sankhya/dom4j-1.6.1.jar
libs_sankhya/eclipselink-2.5.1.jar
libs_sankhya/fontbox-2.0.7.jar
libs_sankhya/gson-2.1.jar
libs_sankhya/guice-3.0.jar
libs_sankhya/hibernate-validator-5.0.2.Final.jar
libs_sankhya/hsqldb-2.3.1.jar
libs_sankhya/httpcore-4.0-alpha6.jar
libs_sankhya/itext-4.2.1.jar
libs_sankhya/jape-3.27b151.jar
libs_sankhya/jape.jar
libs_sankhya/jasperreports-1.1.0.jar
libs_sankhya/jboss-j2ee.jar
libs_sankhya/jbossall-client.jar
libs_sankhya/jdom.jar
libs_sankhya/json-20140107.jar
libs_sankhya/jxl-2.6.12.jar
libs_sankhya/jxls-core-1.0.1-sources.jar
libs_sankhya/log4j-1.2.13.jar
libs_sankhya/mge-modelcore-4.1b53.jar
libs_sankhya/mge-modelcore-4.8b369.jar
libs_sankhya/mge-modulemgr.jar
libs_sankhya/mgearmazem-model-4.8b369.jar
libs_sankhya/mgebeneficio-model-4.8b369.jar
libs_sankhya/mgecheckout-model-4.8b369.jar
libs_sankhya/mgecom-model-4.8b369.jar
libs_sankhya/mgecom-model-client.jar
libs_sankhya/mgecom-model.jar
libs_sankhya/mgecontab-model-4.4b142.jar
libs_sankhya/mgecontab-model-4.8b369.jar
libs_sankhya/mgecot-model-4.8b369.jar
libs_sankhya/mgectbz-model-4.8b369.jar
libs_sankhya/mgefgv-model-4.8b369.jar
libs_sankhya/mgefin-model-4.8b369.jar
libs_sankhya/mgegi-model-4.8b369.jar
libs_sankhya/mgeimobilizado-model-4.8b369.jar
libs_sankhya/mgeinv-model-4.8b369.jar
libs_sankhya/mgeliv-model-4.8b369.jar
libs_sankhya/mgepes-model-4.8b369.jar
libs_sankhya/mgepesq-model-4.8b369.jar
libs_sankhya/mgeprod-model-4.8b369.jar
libs_sankhya/mgeserv-model-4.8b369.jar
libs_sankhya/mgewms-model-4.8b369.jar
libs_sankhya/mgeworkflow-model-4.8b369.jar
libs_sankhya/msd-model-4.8b369.jar
libs_sankhya/okhttp-3.9.0.jar
libs_sankhya/okio-1.13.0.jar
libs_sankhya/poi-3.0.1-FINAL.jar
libs_sankhya/SankhyaW-extensions.jar
libs_sankhya/sannfe.jar
libs_sankhya/sanutil.jar
libs_sankhya/sanws.jar
libs_sankhya/servlet.jar
libs_sankhya/SWService.jar
libs_sankhya/timimob-model-4.8b369.jar
libs_sankhya/xstream-1.4.4.jar
